<br>
<h1>About Jungle</h1>
<br>

<p>Jungle is a family owned and operated business located just outside of beautiful Tofino, British Columbia.</p>

<p>Here at Jungle, we believe everyone deserves the joy that plants bring, so we thought why not make it easy and deliver them right to your door! Our mission is to fill your home plants and happiness. </p>

<p>We absolutely adore plants and we hope that you will adore ours. 🌿</p>